/*! Sainsburys UI wireframe | Robert Akehurst */

// fonts
$sans-serif-font:   Helvetica, Helvetica Neue, Arial, sans-serif;
$serif-font:        Georgia, Times, 'Times New Roman', serif;

//colors
$black: #000;
$grey: #808080;
$lightgrey: #f5f5f5;

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

::-moz-selection {
    background: $grey;
    text-shadow: none;
}

::selection {
    background: $grey;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid $grey;
    margin: 1em 0;
    padding: 0;
}

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}


/* =========================================================================
   Initial Styles
   ========================================================================== */

body {
    font: 22px/32px $sans-serif-font;
}

.wrapper {
    width: 90%;
    margin: 0 5%;
}

/* ===============
    Typography
   =============== */

h1, h2, h3, h4, h5, h6 {
    font-family: $serif-font;
    font-weight: normal;
}

h1 {
    font-style: italic;
}

a {
    color: inherit;
    text-decoration: none;
}

/* ===============
    Layout
   =============== */

.main-container article {
    display: table;
    header,
    section {
        &:not(:nth-of-type(2)) {
        display:table-header-group;
        }
        &:nth-of-type(2) {
            display:table-footer-group;
            ul {
                list-style-position: inside;
                padding-left: 0
            }
        }
    }
}


/* ==============
    MOBILE: Menu
   ============== */

nav ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    justify-content: center;
    text-align: center;
    padding: 0.5em;
    a:hover {
        text-decoration: underline;
    }
}

ul.social-links {
    list-style-type: none;
    padding: 0;
    margin-top: 0;
    li {
        float: left;
        width: 0;
        margin: 0 16.66%;
        a {
            margin-left: -17.5px;
        }
    }
}

/* ==============
    MOBILE: Main
   ============== */

.main {
    article h1 {
        font-size: 2em;
    }

    aside {
        margin-top: 26px;
    }
}

.footer-container {
    width: 90%;
    background-color: $lightgrey;
    border: 1px solid $grey;
    margin: 0 5%;
    footer {
        padding: 20px 0;
    }
}

/* ==========================================================================
   Custom styles
   ========================================================================== */


/* ===============
    Header
   =============== */

.logo {
    float: left;
    margin-right: 20px;
    margin: .67em .67em .67em 0;
}

.title {
    float: left;
}

/* ===============
    Toggle menu
   =============== */

input[type=checkbox] {
   position: absolute;
   top: -9999px;
   left: -9999px;
}
label { 
   -webkit-appearance: push-button;
   -moz-appearance: button; 
    display: inline-block;
    cursor: pointer;
    clear: both;
    float: left;
    padding: 0.4em 1em;
    left: 50%;
    position: relative;
    transform: translateX(-50%);
}

/* Default State */
nav {
   display: none;
    width: 100%;
    clear: both;
    background-color: $lightgrey;
    border: 1px solid $grey;
}

/* Toggled State */
input[type=checkbox]:checked ~ nav {
   display: block;
   clear: both;
}

/* ===============
    Images
   =============== */

.full-img {
    width: 100%;
}


/* ==========================================================================
   Helper classes
   ========================================================================== */

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

.visible-large {
    display: none;
}

.responsive-img {
    display: block;
    max-width: 100%;
    height: auto;
}

.bold {
    font-weight: bold;
}

/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (min-width: 768px) {

/* ====================
    Menu
   ==================== */
   .header-container label {
    display: none;
   }

   nav {
        display: block;
        margin-bottom: 1em;
        a {
            float: left;
            margin: 0 3%;
        }
        ul {
            display: flex;
            li {
                display: inline;
                margin: 0 3%;
            }
       }
    }

    .title {
        float: left;
    }

/* ============
    Main
   ============ */
.main {
    article {
        float: left;
        width: 70%;
    }

    aside {
        float: right;
        width: 28%;
        h3 {
            max-width: 200px;
        }
    }
}

.main-container article  {
    header,
    section:nth-of-type(2),
    section:not(:nth-of-type(2)) {
        display: block;
    }

    section:nth-of-type(2) {
        float: right;
        padding-left: 1em;
    }
}

/* ============
    Footer
   ============ */
.footer-container ul {
    position: absolute;
    top: 0;
    right: 5%;
    margin: 1em -1em 0 0;
    width: 20%;
}

/* ====================
    Visibility
   ==================== */

    .visible-large {
        display: block;
    }

}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: $black !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}